<div class="row justify-content-center">
  <div class="col-12 text-center">
    <a name="reviews-section"></a>
    <div class="review-this">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="comment-form">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="text-center">
                <h2>REVIEW THIS RECIPE</h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mx-auto">
            <div class="col-12">
                 <textarea [ngModel]="comment"
                           class="form-control"
                           id="mycomment"
                           placeholder="What did you like? What didn't you like? What tip would you tell a friend to make it perfectly?"
                           name="comment"
                           rows="10">
                 </textarea>
            </div>
          </div>
          <div class="row justify-content-center"></div>
          <div class="col-12">
            <div *ngIf="recipe.StarRating != 0 && recipe.StarRating != null" class="text-center rating-row">
              <br/><br/>
              <!--<label for="rate" class="float-right">Rate</label>-->
<!--              <rating id="rate" class="rating" name="rate" [(ngModel)]="rate"></rating>-->
              <star-rating
                id="rate" name="rate" class="rating" [starType]="'svg'" [labelPosition]="'right'" [rating]="rate" [(rating)]="rate"
                [hoverEnabled]="true"  [showHalfStars]="true" [labelText]="'Rate'" [space]="'around'">
              </star-rating>
<!--              <span></span>-->
            </div>
            <div *ngIf="recipe.StarRating == 0 && recipe.StarRating == null" class="text-center rating-row">
              <star-rating
                id="rate" name="rate" class="rating" [starType]="'svg'" [labelPosition]="'right'" [rating]="0" [(rating)]="rate"
                [hoverEnabled]="true"  [showHalfStars]="true" [labelText]="'Rate'" [space]="'around'">
              </star-rating>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <br/>
              <div class="pad-left">
                <input [attr.disabled]="!this.bigovenAuthService.isLoggedIn()?'':null" type="submit" disabled
                       id="submit-review-button" class="btnstateless btn btn-lg btn-danger pad-left"
                       [value]="buttonLabel"/>
              </div>
              <br/>
              <br/>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
