<h2>Delicious Seasonal Ideas</h2>


<div class="">
  <div class="row">
    <div *ngFor="let coll of collections">
      <div class="col-xs-12 col-sm-4 col-lg-2 collection-tile-full">
        <a routerLink="{{coll.WebUrl | urlpath }}">
          <div class="collection-wrapper">
            <!--<div class="ribbon-wrapper-red">-->
            <!--<div class="ribbon-red">collection</div>-->
            <!--</div>-->
            <img src="{{ coll.PhotoUrl }}?w=256&h=256">
          </div>
          <div class="collection-title">{{ coll.Title }}<br/>
            <p class="description">{{coll.Description}}</p>
          </div>
        </a>

        <div *ngIf="coll.IsSponsored===true" class="sponsored-icon tip" title="Sponsored by RiceSelect™">
          <!-- click through url <a href="https://bs.serving-sys.com/serving/adServer.bs?cn=trd&amp;mc=click&amp;pli=21694377&amp;PluID=0&amp;ord=[timestamp]">
              <img src="https://bigoven-res.cloudinary.com/image/upload/RiceSelect-Logo-120x60_aymzck.png">
          </a>-->
        </div>
        <!-- display indicator
        <script type="text/javascript">$.get('', function () { });</script>
        <script type="text/javascript">$.get('https://bs.serving-sys.com/serving/adServer.bs?cn=display&c=19&mc=imp&pli=21694377&PluID=0&ord=10/18/2017 10:32:06 PM&rtu=-1', function () { });</script>
        -->


      </div>
    </div>
  </div>
</div>
