<div class="row social-media-row justify-content-center">
  <div class="col-12">
    <h4>Share this recipe from BigOven on:</h4>
  </div>
  <div class="col-12 mx-auto">
    <div class="row social-links-row">
      <div class="col-4"><fa-icon [icon]="faFacebook"></fa-icon>
        <div>Facebook</div>
      </div>
      <div class="col-4 col-border"><fa-icon [icon]="faYoutube"></fa-icon>
        <div>YouTube</div>
      </div>
      <div class="col-4"><fa-icon [icon]="faPinterest"></fa-icon>
        <div>Pinterest</div>
      </div>
    </div>
  </div>
    <div class="col-12" style="margin-top: 2em;">
      <button class="btn btn-share">All Sharing Options</button>
    </div>
  <div class="col-9 mx-auto social-border"></div>
</div>
