<!--Desktop View-->
<div class="desktop">
  <!--Hero -->
  <div class="hero-wrapper">
    <div class="d-flex justify-content-center">
      <div class="row text-center">
        <div *ngIf="backgroundImageStyle" class="col-12 hero-img-content">
          <div [style.backgroundImage]="backgroundImageStyle" class="jumbotron homepage-hero hidden-xs">
          </div>
        </div>
        <div class="col-12">
          <h2>COOKING SIMPLIFIED</h2>
          <p class="hero-paragraph">The best recipe organizer, grocery list and menu app for home cooks.</p>
        </div>
        <div class="col-12 text-center">
          <app-search-box></app-search-box>
        </div>
      </div>
    </div>
  </div>

  <!--Top 5 Favourites-->
  <div class="hidden-xs">
    <div class="d-flex justify-content-center">
      <div class="row content-row text-center">
        <div class="col-sm-6 col-md-6 top5-content">
          <img class="top5-img" src="/assets/images/home/top5.svg">
        </div>
        <div class="col-sm-4 col-md-4">
          <p class="p-content">
            Weekly <br> <strong>Top 5</strong> Favorites
          </p>
        </div>
        <div class="col-sm-2 col-md-2">
          <a [routerLink]="['/recipe-ideas/weekly-top-5-favorites/339']">
            <button class="top5-btn btn btn-default" type="button">Yes, please!</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--Recipe Whisker-->
  <div class="row recipes-row">
    <div class="w-100">
      <div class="main-content">
        <div class="d-flex justify-content-center">
          <div class="row text-center" style="margin-top: 15px">
            <div class="col-sm-8 col-md-8">
              <div class="whisker-content">
                <p class="whisk-p-head">
                  Recipe <strong>Whisker</strong> <span><img class="bo-cloud"
                                                             src="/assets/images/icons/bo-cloud.svg"></span>
                </p>
                <p class="whisk-p-body">
                  Choose up to 3 ingredients.
                  <br>
                  BigOven will tell you what you can make!
                </p>
                <span><img class="whisk-arrow" src="/assets/images/icons/arrow.svg"></span>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 whisk-btn-content">
              <button class="btn btn-default whisk-btn">Whisk me up something <strong>BigOven</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Recipe Ideas-->
    <div class="w-100">
      <div class="recipe-content">
        <div class="d-flex justify-content-center" style="margin-left: 110px">
          <div class="row text-center">
            <!--<div class="col-sm-4 col-md-4 left-description">-->
            <!--</div>-->
            <div class="col-sm-12 col-md-12">
              <app-ideas-home [collections]="collectionResults"></app-ideas-home>
<!--              <app-seasonalideas [collections]="collectionResults"></app-seasonalideas>-->
              <!--<ideas-home [collections]="collectionResults"></ideas-home>-->
<!--              <app-ideas-home [collections]="collectionResults"></app-ideas-home>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Recent Raves  -->
    <div class="w-100">
      <div class="recipe-content">
        <div class="d-flex justify-content-center" style="margin-left: 110px">
          <div class="row text-center">
            <div class="col-sm-12 col-md-12">
              <app-raves-home [raves]="ravesResults"></app-raves-home>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Get APP-->
  <div class="get-app-content">
    <div class="d-flex">
      <div class="row w-100">
        <div class="w-50 trio-left">
          <p class="trio-head">
            ALL YOUR RECIPES<br> ON THE GO!
          </p>
          <p class="trio-paragraph">
            Android app rated 4.3 stars<br> iOS app rated 4.6 stars
          </p>
        </div>
        <!--<div class="w-auto">-->
        <!--</div>-->
        <div class="w-50 trio-position">
          <div class="row">
            <div class="col-2">
              <button class="btn btn-default trio-btn" type="button">Get the APP</button>
            </div>
            <div class="col-10 tablet">
              <img alt="Download Our App" class="trio-img img-fluid" src="/assets/images/home/iphone-trio-320.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--ADS slot and review-->
  <div class="ads-content">
    <div class="d-flex justify-content-center">
      <div class="row w-100">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <div class="ads-img">
            <img src="/assets/images/home/ad728x90.svg">
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <div class=" w-50">
            <div class="square"><i class="fas fa-quote-left quotes"></i></div>
            <p class="text-one">This is the best kitchen app I've found. I love the convenience of this
              app.</p>
          </div>
          <div class="w-50">
            <div class="square square-two"><i class="fas fa-quote-left quotes"></i></div>
            <p class="text-two">This is the best kitchen app I've found. I love the convenience of this
              app.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Email Subscription-->
  <div class="d-flex justify-content-center">
    <div class="email-circle"></div>
  </div>
  <div class="email-wrapper" style="height: 450px">
    <div class="d-flex justify-content-center row email-img">
      <div class="email-content row text-center">
        <div class="col-12">
          <p id="email-par">
            <strong>Get Mouthwatering Recipes</strong><br> right in your inbox
          </p>
        </div>
        <div class="col-12 input-email">
          <input class="email-input" placeholder="Type your email address!">
          <button class="btn btn-danger">SUBSCRIBE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Mobile View-->
<div class="mobile">
  <div class="recipe-search">
    <div class="d-flex justify-content-center search-wrapper">
      <div class="row">
        <div class="col-12 search-bar-wrapper">
          <app-search-box></app-search-box>
        </div>
        <div class="col-12 ">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <h1 class="search-heading">COOKING SIMPLIFIED</h1>
            </div>
            <div class="col-12 text-center search-paragraph">
              <p class="search-paragraph-content">
                The best recipe organizer, grocery list and menu app for home cooks.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row justify-content-center">
            <div *ngIf="backgroundImageStyle" class="col-12 hero-img-content">
              <div [style.backgroundImage]="backgroundImageStyle"
                   class="jumbotron homepage-hero hidden-xs">
              </div>
            </div>
            <div class="col-12">
              <div class="row justify-content-center">
                <div class="col-12 text-center bottom-paragraph">
                  <p class="bottom-paragraph-content">
                    All your recipes<br> <strong>ON THE GO!</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center circle-wrapper">
    <div class="search-circle"></div>
  </div>

  <div class="d-flex justify-content-center get-app-mobile">
    <div class="row">
      <div class="col-12 text-center">
        <img class="get-app-img-mobile" src="/assets/images/home/inspiration.svg">
      </div>
    </div>
    <!--<div class="row store-logo text-center">-->
    <!--<div class="w-100">-->
    <!--<div class="w-50 google">-->
    <!--<a><img alt="BigOven 500,000 + recipes" src="/assets/images/home/play-store.svg"></a>-->
    <!--</div>-->
    <!--<div class="w-50 apple">-->
    <!--<a><img class="apple-img" alt="BigOven 500,000 + recipes" src="/assets/images/home/app-store.svg"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <!--</div>-->
  <div class="d-flex justify-content-center store-logos">
    <div class="row">
      <div class="col-6 google">
        <a><img alt="BigOven 500,000 + recipes" src="/assets/images/home/play-store.svg"></a>
      </div>
      <div class="col-6 apple">
        <a><img class="apple-img" alt="BigOven 500,000 + recipes" src="/assets/images/home/app-store.svg"></a>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="row" style="max-width: 600px">
      <div class="rounded-circle col-12" style="background-color: #CBDEDA; width: 100vw; height: 50vh">
        <div class="row">
          <div class="col-6">
            <div class="top5-mobile-wrapper">
              <img class="top5-mobile-img" src="/assets/images/home/top5.svg">
            </div>
          </div>
          <div class="">
            <p class="top5-paragraph">Weekly <br><strong>Top 5</strong> Favorites</p>
          </div>
        </div>
      </div>

      <div class="col-12 whisker-mobile" style="padding: 0">
        <div class="text-center d-flex justify-content-center whisker-mobile-wrap">
          <img class="bo-cloud-mobile" src="/assets/images/icons/bo-cloud.svg">
        </div>
        <div class="row text-center justify-content-center">
          <div class="col-12">
            <p class="whisker-content">
              <strong class="whisker-heading">Recipe Whisker</strong> <br>Choose up to 3 ingredients.<br>
              BigOven will tell you what you can make!
            </p>
          </div>
        </div>
        <div class="row w-100 text-center justify-content-center">
          <div class="w-25"></div>
          <div class="w-50  text-center">
            <div class="arrow-down"></div>
          </div>
          <div class="w-25"></div>
        </div>
        <div  class="row justify-content-center whisk-btn-row">
          <div class="w-100 text-center whisk-btn-wrap">
            <button class="btn btn-danger whisk-btn-mobile">Whisk me up something<br>
              <strong>BigOven</strong>
            </button>
          </div>
        </div>
        <!--<div class="row justify-content-center ideas-row-mobile">-->
        <!--<h1>Recipe Ideas</h1>-->
        <!--</div>-->
        <!--<div class="row justify-content-center raves-row-mobile">-->
        <!--<h1>Recent Raves</h1>-->
        <!--</div>-->
        <!--<div class="row justify-content-center email-row-mobile">-->
        <!--<div class="col-12">-->
        <!--<p>-->
        <!--<strong>Get Mouthwatering Recipes</strong> <br>right in your inbox-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
      </div><!-- End of main wrapper -->
      <div class="row email-mobile-row">
        <div class="col-12">
          <div class="text-center d-flex justify-content-center">
            <p class="email-mobil-paragraph">
              <strong>Get Mouthwatering Recipes</strong> <br>right in your inbox
            </p>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center d-flex justify-content-center email-input-wrap">
            <input class="email-input-mobile" placeholder="Type your email address!">
          </div>
        </div>
        <div class="col-12">
          <div class="text-center d-flex justify-content-center">
            <button class="btn btn-danger text-uppercase email-btn-mobile">subscribe</button>
          </div>
        </div>
      </div>
    </div><!-- End of fixed width row -->
  </div>
</div><!-- End of mobile view-->
