@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

$defaultFont: 'Montserrat', sans-serif;
$defaultBOColor: #BE2025;
$defaultBackgroundColor :#CBDEDA;

h1 {
  font-family: $defaultFont;
  border: none;
}

//.home-title {
//  color:white;
//}
.text-shadow {
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 1);
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
}

.hero-wrapper {
  background-color: $defaultBackgroundColor;
  //height: 550px;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 100px;
}

.main-content {
  max-width: 1130px;
  background-color: $defaultBOColor;
  border: 1px solid$defaultBOColor;
  border-radius: 20px;
  padding-top: 55px;
  padding-bottom: 65px;
  margin: 0 auto 5px;
}

.homepage-hero {
  width: 55%;
  height: 300px;
  //background-size: 200px 200px !important;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  margin-bottom: 0 !important;
  margin-left: 15%;
}
h2 {
  font-family: $defaultFont !important;
  font-weight: 600;
  font-size: 50px;
  color: #FFFFFF;
  padding: 0!important;
}
p {
  font-family: $defaultFont !important;
  font-size: 14px;
  font-weight: 600;
  //color: #FFFFFF;
}

.hero-img-content {
  text-align: -webkit-center;
  text-align: -moz-center;
  padding-bottom: 10px;
}
.hero-paragraph {
  color: #FFFFFF;
}

//.top5-content {
//  padding: 150px 0 150px 0;
//}

.top5-img {
  width: 18em;
  box-shadow: 115px 0px 0px 51px $defaultBackgroundColor;
  border-radius: 50%;
}

.content-row {
  padding: 130px 0 110px 0;
  margin-left: -260px;
}

.p-content {
  font-weight: 500;
  font-size: 45px;
  color: #4C5264;
  opacity: .62;
  position: absolute;
  overflow: visible;
  top: 125px;
  left: 135px;
  white-space: nowrap;
  line-height: 47px;
  text-align: left;
}

a {
  text-decoration: none !important;
}

.top5-btn {
  position: absolute;
  top: 240px;
  left: 155px;
  background-color: $defaultBOColor;
  border: 1px $defaultBOColor;
  border-radius: 13px;
  font-family: $defaultFont;
  color: white;
  width: 180px;
  height: 20%;
  font-size: 18px;
  font-weight: 500;
}
.top5-btn:hover {
  box-shadow: 4px 4px 2px 2px #0000003d;
}
button:focus {
  outline: none !important;
}

.get-app-content {
  max-width: 1350px;
  background-color: $defaultBackgroundColor;
  border: 1px solid $defaultBackgroundColor;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 65px;
  margin: 10% auto 5px;
  height: 280px;
  margin-bottom: 90px;

}
.recipes-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.recipe-content {
  max-width: 960px;
  //background-color: #BE2025;
  //border: 1px solid #BE2025;
  border-radius: 20px;
  padding-top: 90px;
  padding-bottom: 65px;
  margin: 0 auto 5px;
}

.whisk-btn {
  color: $defaultBOColor;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 13px;
  height: 50px;
  font-size: 16px;
  font-weight: 500 !important;
  box-shadow: none;
}
.whisk-btn:hover {
  box-shadow: 5px 5px 2px 2px #0000003d;

}
.whisk-btn > strong {
  font-weight: 900;
}
.whisk-btn-content {
  padding-top: 75px;
}
.whisk-p-head {
  color: #E4E4E4;
  text-align: left;
  font-size: 30px;
  font-weight: 400 !important;
  padding-bottom: 15px;
}
.whisk-p-head > strong {
  font-size: 38px !important;
  font-weight: 500 !important;
}

.whisk-p-body {
  text-align: left;
  font-weight: 400 !important;
  line-height: 27px;
  font-size: 20px;
  letter-spacing: 1px;
}
.bo-cloud {
  width: 12%;
  position: absolute;
  bottom: 86px;
  left: 310px;
}

.whisk-arrow {
  position: absolute;
  width: 37%;
  bottom: 69px;
  left: 390px;
}


.trio-left {
  padding-left: 10%;
  padding-top: 10px;
}
.trio-img {
  width: 31em;
}

.trio-position {
  position: relative;
  right: 40px;
  bottom: 150px;
}

.trio-btn {
  position: relative;
  right: 35px;
  top: 300px;
  font-family: $defaultFont;
  font-weight: 500;
  color: #FFFFFF;
  background-color: $defaultBOColor;
  border-color: $defaultBOColor;
  border-radius: 13px;
  font-size: 16px;
  height: 52px;
}

.trio-btn:hover {
  box-shadow: 5px 5px 2px 2px #0000003d;

}

.trio-head {
  font-family: $defaultFont;
  font-weight: 500;
  font-size: 28px;
}
.trio-paragraph {
  font-family: $defaultFont;
  font-weight: 500;
  font-size: 22px;
}
@media only screen and (max-width: 1024px){
  .trio-img {
    width: 27em;
  }
  .tablet {
    top: 70px;
    left: 35px;
  }
}

.ads-content {
  max-width: 70%;
  background-color: transparent;
  border: none;
  padding-bottom: 55px;
  margin: 0 auto 5px;
  height: 150px;
}
.ads {
  margin-left: 35px;
}
@media only screen and (max-width: 1199px) {
  .ads-img {
    padding-bottom: 50px;
  }
  .ads-content {
    height: 250px;
  }

}

.square {
  background-color: $defaultBOColor;
  border: 1px solid $defaultBOColor;
  border-radius: 13px;
  width: 50px;
  height: 50px;
}

.text-one {
  color: #707070;
  font-size: 12px;
  position: relative;
  bottom: 45px;
  left: 66px;
  max-width: 195px;
}

.square-two {
  position: relative;
  bottom: 123px;
  left: 365px;
}

.text-two {
  color: #707070;
  font-size: 12px;
  position: relative;
  bottom: 167px;
  left: 430px;
  max-width: 195px;
}

.quotes {
  position: relative;
  top: 33px;
  color: #85CAD0;
  width: 45px;
  font-size: 35px;
}

//.email-wrapper {
//  margin-left: -15px;
//  margin-right: -15px;
//}

.email-img {
  background: url("/assets/images/home/email.svg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //width: 55%;
  //height: 300px;
  min-height: 100%;
  //background-repeat: no-repeat;

  margin-bottom: 0 !important;

  //width: 100%;
}

.email-circle {
  position: absolute;
  background-color: #f7f3f3f2;
  width: 45em;
  height: 22em;
  bottom: 98px;
  border-bottom-left-radius: 600px;
  border-bottom-right-radius: 600px;
  border-top: 0;

}

#email-par {
  color: $defaultBOColor !important;
  font-size: 26px;
  font-weight: 500;
  text-align: left;
  transform: translate(35%,75%);
  width: 75%;
}
#email-par > strong {
  font-weight: 900;
}

.email-input {
  border-radius: 23px 23px 23px 23px;
  border: 1px solid $defaultBOColor;
  background: transparent;
  height: 45px;
  width: 250px;
  //padding-left: 35px;
  margin-right: 15px;
}



.input-email {
  position: relative;
  bottom: 60px;
}

.input-email > .btn-danger {
  font-family: $defaultFont;
  font-weight: 500;
  font-size: 16px;
  height: 3.2em;
  border-radius: 13px;
  color: #FFFFFF;
  line-height: 22px;
  background-color: $defaultBOColor;
  border-color: $defaultBOColor;
}
.btn-danger:hover {
  box-shadow: 5px 5px 2px 2px #0000003d;

}

@media only screen and (max-width: 1023px) {
  .desktop {
    display: none;
  }
  .search-wrapper {
    background-color: $defaultBackgroundColor;
  }

  .search-paragraph-content {
    color: #696969;
    font-size: 12px;
  }
  .homepage-hero {
    width: 55%;
    height: 140px;
    margin-left: 4em;
  }
  .search-bar-wrapper {
    padding: 15px 0 15px 0;
  }
  .bottom-paragraph {
    border-top: 1px solid #FFFFFF;
    max-width: 12em;
    padding-top: 15px;
  }
  .bottom-paragraph-content {
    font-size: 18px;
    color: $defaultBOColor;
  }
  .bottom-paragraph-content > strong {
    font-weight: 600;
  }
  //.search-circle {
  //  position: absolute;
  //  background-color: $defaultBackgroundColor;
  //  width: 40em;
  //  height: 24em;
  //  border-bottom-left-radius: 40em;
  //  border-bottom-right-radius: 40em;
  //  border-top: 0;
  //  z-index: 0;
  //  top: 14vh;
  //  right: -15vh;
  //}

  .circle-wrapper {
    overflow: hidden;
    display: block !important;
    position: relative;
    width: 100%;
    height: 100vw;
  }

  .search-circle {
    position: relative;
    background-color: $defaultBackgroundColor;
    width: 100%;
    height: 100%;
    border-top: 0;
    top: -77%;
    border-radius: 100%;
    transform: scale(1.3 , 1) !important;
  }

  .search-img {
    width: 32em;
    box-shadow: none;
  }

}
@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }

  ::placeholder {
    color: $defaultBOColor;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $defaultBOColor;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $defaultBOColor;
  }
}

.search-paragraph {
  max-width: 80%;
}


.search-heading {
  color: $defaultBOColor;
  font-size: 25px;
}

.get-app-mobile {
  overflow: visible;
  display: block !important;
  position: relative;
  width: 100%;
  height: 0;
}
//.get-app-img-mobile {
//  position: relative;
//  width: 100%;
//  height: 100%;
//  border-top: 0;
//  top: -177%;
//  //border-radius: 100%;
//}
@media only screen and (max-width: 699px){
  .get-app-img-mobile {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 0;
    max-width: 42%;
    max-height: 85%;
    top: -130%;
    transform: scale(1.2, 1.2);
  }
  .store-logos {
    position: relative;
    bottom: 4em;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1023px) {
  //.get-app-img-mobile {
  //  position: relative;
  //  width: 55%;
  //  height: 55%;
  //  border-top: 0;
  //  top: -105%;
  //}
  .get-app-img-mobile {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 0;
    max-width: 45%;
    max-height: 60%;
    top: -70%;
    transform: scale(1.2, 1.2);
  }
  .circle-wrapper {
    overflow: hidden;
    display: block !important;
    position: relative;
    width: 100%;
    height: 62vw;
  }

  .search-circle {
    position: relative;
    background-color: $defaultBackgroundColor;
    width: 100%;
    height: 104%;
    border-top: 0;
    top: -77%;
    border-radius: 100%;
    transform: scale(1.3, 1) !important;
  }
  .homepage-hero {
    height: 180px;
  }

  .store-logos {
    padding-bottom: 45px;
  }
}

.apple-img {
  width: 135px;
  height: 40px;
}

.row {
  margin: 0;
}
.top5-mobile-img {
  width: 78%;
  max-width: 150px;
}

.top5-paragraph {
  font-size: 22px;
  color: #4C5264;
  position: relative;
  top: 45px;
  right: 45px;
}
.whisker-mobile {
  background-color: $defaultBOColor;
  height: 130px;
  position: relative;
  bottom: 13em;
}
.bo-cloud-mobile {
  width: 25px;
  bottom: 86px;
  left: 310px;
  height: 30px;
}

.whisker-mobile-wrap {
  padding-top: 20px !important;
}

.whisker-heading {
  font-size: 22px;
  font-weight: 500;
  color: #FFF;
}

.whisker-content {
  font-size: 12px;
  color: #FFF;
  font-weight: 500;
}
.arrow-down {
  position: relative;
  z-index: 1;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $defaultBOColor;
  bottom: 5px;
  width: 0;
}
@media only screen and (max-width: 410px) and (min-width: 360px) {
  .arrow-down {
    margin-left: 39%;
  }
}
@media only screen and (max-width: 438px) and (min-width: 411px) {
  .arrow-down {
    margin-left: 41%;
  }
}
@media only screen and (max-width: 450px) and (min-width: 437px) {
  .arrow-down {
    margin-left: 42%;
  }
}
@media only screen and (max-width: 530px) and (min-width: 451px) {
  .arrow-down {
    margin-left: 43%;
  }
}
@media only screen and (min-width: 531px){
  .arrow-down {
    margin-left: 44%;
  }
}

.whisk-btn-row {
  background-color: #FFF;
  position: relative;
  bottom: 25px;
  height: 130px;
}

.whisk-btn-mobile {
  margin-top: 40px;
}

.whisk-btn-wrap > .btn-danger {
  width: 215px;
  height: 48px;
  border-radius: 13px;
  background-color: $defaultBOColor;
  border-color: $defaultBOColor;
  color: #FFFFFF;
  font-family: $defaultFont;
  font-size: 14px;
  line-height: 18px;
}
.email-mobil-paragraph {
  font-family: $defaultFont;
  font-size: 16px;
  color: $defaultBOColor;
  line-height: 19px;
  font-weight: 500;
}
.email-input-mobile {
  width: 230px;
  height: 37px;
  border: 1px solid $defaultBOColor;
  border-radius: 9px;
  line-height: 15px;
}

::placeholder {
  font-size: 12px;
  text-align: center;
  color: #A5A5A5 !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 12px;
  text-align: center;
  color: #A5A5A5 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 12px;
  text-align: center;
  color: #A5A5A5 !important;
}
.email-btn-mobile {
  width: 95px;
  height: 36px;
  font-family: $defaultFont;
  font-size: 12px;
  line-height: 15px;
  background-color: $defaultBOColor;
  border: 1px solid $defaultBOColor;
  border-radius: 8px;
}
.email-input-wrap {
  padding-bottom: 30px;
}

.email-mobile-row {
  border-top: 3px solid $defaultBackgroundColor;
  border-bottom: 9px solid $defaultBackgroundColor;
  padding: 30px 0 30px 0;
}
